venv_chatbot
data
Prev
venv_finance2
Trash
access_key.json
Chatbot/access_key.json
Chatbot/test.py
base_summary
openai_api.env
openai_key.json
venv
venv_finance
venv2
venv3
venv4
api_key.json
./youtube_summary/venv2
./youtube_summary/openai_api.env 
base_summary
text_data