<!-- Roomae.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Roomae</title>
</head>
<body>
    <h1>Roomae - 채널 및 동영상 정보</h1>
    
    <ul>
        {% for channel in channels %}
    <li>
        <a href="/channel/{{ channel.channel_id }}">{{ channel.channel_name }}</a>
        <!-- 추가: 최신 동영상 정보 표시 -->
        {% if latest_video_info[channel.channel_id] %}
            <p><strong>Latest Video Title:</strong> {{ latest_video_info[channel.channel_id].title }}</p>
            <!-- 수정: summary 표시 -->
            <p><strong>Summary:</strong> {{ latest_video_info[channel.channel_id].summary }}</p>
        {% else %}
            <p><em>No latest video information available.</em></p>
        {% endif %}
    </li>
{% endfor %}
    </ul>
</body>
</html>